@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
